<!DOCTYPE html>
<html>
<head>
<style>

head {
  color: white;
  text-align: center;
}
body {
  background-color: lightblue;
}

h1 {
  color: red
}

h2 {
  font-family: Lucida Handwriting
}
</style>
</head>
</html>
