nav {
  display: flex;
  justify-content: center;
  background-colour: #333;
  padding: 10px 0;
}

nav ul {
  list-stle: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

nav ul li {
   margin: 0;
}

nav ul li a {
   text-decoration: none;
   color: black;
   padding: 10px;
}

h1 {
   font-size: 40px;
   text-align: center;
}
