h1 { 
 "font-family:verdana;"
  
 "text-align:center;"
}

body {

font-family: Arial, sans-serif;

color: #333;

background-color: #f9f9f9;

margin: 0;

padding: 0;

line-height: 1.6;

}

.image gallery {
   display: grid;
   grid-template-columns: repeat (3, 1 fr);
   gap: 10 px; 
   justify-content: center;
   padding: 20 px;
   margin: auto; 
   max-width: 600 px;87
   background-color: rbg (200, 200, 200);
}

.image gallery img{
   width: 100 %; 
   height: auto;
   border-radius: 10 px;
   max-width: 180 px;
   transition: transform 0.3 s ease-in-out;
}

.image-box {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: black;
   padding: 10 px;
   border-radius: 8 px;
   box-shadow: 0 0 10 px rgba (0, 0, 0, 0.1); 

.image-gallery img:hover {
   transform: scale (1.1);
   border-color: lightblue;
}
