nav {
  display: flex;
  justify-content: center;
  background-colour: rbg (176, 141, 211);
  padding: 25px 0;
}

nav ul {
  list-stle: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

nav ul li {
   margin: 0;
}

nav ul li a {
   text-decoration: none;
   color: rbg (176, 141, 211);
   padding: 25px;
}

h1 {
   font-size: 40px;
   text-align: center;
}

#myIntro {
  background-color: rgb (180, 180, 180);
  color: pink;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
}

#myHeader {
  background-color: pink;
  padding: 40px;
  color: rbg (176, 141, 211);
}

body {
  background-color: lightgray;
}
 
#myImg {
  width: 70 px;
  height: 20 px;
  float: center;
}

* {
  margin: 0;
}

table {
  border:"1";
  width: 85%;
  margin: auto;
  background-color: lightgray;
}

table, th, td {
  border: 1px solid black;
  border-style: outset;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

#div1 {
  float: right;
  background-color: floralwhite;
}

#div2 {
  float: left;
  background-color: floralwhite;
}

#div3 {
  margin: auto;
  background-color: floralwhite;
}
